name: Run CI
on: [push, pull_request]

jobs:
  normal_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Run normal CI
        run: echo ${{ github.event_name }}

        if: ${{ github.event_name == 'pull_request' }}
      - name: Run normal CI
        run: echo ${{ github.sha }}
